    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* cambiamos el tamaño de las imagenes */

    .contenedor_imagen {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contenedor_imagen img {
        width: 48%;
        margin: 1%;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 768px) {
        .contenedor_imagen img {
            width: 100%;
            margin: 2% 0;
        }
    }


    body {
        background-color: antiquewhite;
    }

    h1 {
        font-family: 'Barlow Condensed', sans-serif;
        font-family: 'Newsreader', serif;
    }

    p {
        font-family: 'Barlow Condensed', sans-serif;
        font-family: 'Dela Gothic One', cursive;
        font-family: 'Newsreader', serif;
        font-family: 'Sacramento', cursive;
        font-family: 'Shadows Into Light', cursive;
    }

    h4 {
        color: black;
    }

    a {
        color: black;
        font-size: 100%;
    }


    header {
        padding: 3%;
        background-color: yellowgreen;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #9ce0db;
        justify-content: center;
        text-decoration-line: none;
    }

    a:hover {
        color: #ffcc00;
    }

    footer {
        color: rgb(37, 6, 37);
    }